
.row{
  display: flex;
}

.square{
  width: 60px;
  height: 60px;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 32px;
}

.black{
  background-color: rgb(157, 13, 13);
}

.white{
  background-color:rgba(222, 188, 155, 0.923);
}

.piece {
  cursor: pointer;
}